/* styles.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 9999; /* Ensure the overlay is on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay .left h2{
    padding: 5px;
    text-decoration: underline;
  }
  .overlay .left {
    color:#6e95ff;
    overflow: scroll;
    scrollbar-width: none;
  }

  .overlay .left p{
    padding: 5px;
    font-size: 1.4rem;
  }

  .overlay .right{
    color: #6e95ff;
    overflow: scroll;
    scrollbar-width: none;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  