@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

:root{
    --primary-color: #6e95ff;
    --secondary-color: #ffffff;
    --tertiary-color: rgb(213, 226, 239);
}




.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    

}
.home .home-container{
    width: 70vw;
    height: 80vh;
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px white;
}


.home .home-container .input{
    flex:1;
    background-color: var(--secondary-color);
}

.invoice-top-label{
    color: #6e95ff;
}

.home .home-container .sidebar{
    flex:1;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.home .home-container .sidebar .sidebar-container input[type=file] {
    width: 350px;
    max-width: 100%;
    color: rgb(113, 113, 113);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem;
    background: #fff;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
  }
  
  .home .home-container .sidebar .sidebar-container input[type=file]::file-selector-button {
    margin-right: 20px;
    font-size: 1.2rem;
    border: none;
    background: var(--primary-color); 
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
.home .home-container .sidebar .sidebar-container input[type=file]::file-selector-button:hover {
    background: #4375ff;
}


.home .home-container .input{
    padding-top: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    scrollbar-width: thin;
    border: 10px solid var(--secondary-color);
    overflow-x: hidden;
    
}

.home .home-container .input .input-container .invoice-top-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--tertiary-color);
    font-size: 2rem;
}

.home .home-container .input .input-container .input-container-contain{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}

.home .home-container .input .input-container label{
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    gap: 5px;
    
}

.home .home-container .input .input-container div{
    font-size: 1.2rem;
    font-weight: 600;
}

.home .home-container .input .input-container input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--tertiary-color);
}


.home .home-container .input .input-container #submit{
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: #4375ff;
    color: var(--secondary-color);
}

.home .home-container .input .input-container #submit:hover{
    background-color: var(--primary-color);

}

.home .icons-container-home,
.users .icons-container-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 1rem;
    right: 1rem;
    gap: 20px;
}


.home .icons-home .icons-container-home .logout .logout-container button,
.users .icons-profile .icons-container-profile .logout .logout-container button{
    padding: 3px 10px;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.4rem;

}



.home .icons-home .icons-container-home .profile .profile-container button,
.users .icons-profile .icons-container-profile .homenav .homenav-container button{
    padding: 3px 10px;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.4rem;

}

.users .users-container-small-screen{
    display: none;
}

.users{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    
}

.users .users-container{
    width: 70vw;
    height: 80vh;
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px white;
}

.users .users-container .userinfo{
    flex:1;
    background-color: var(--secondary-color);
}

.users .users-container .status{
    flex:1;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width:none;
    border-top: 5px solid var(--tertiary-color);
    border-bottom: 5px solid var(--tertiary-color);

}


.userinfo-heading{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.userinfo-details {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.userinfo-details label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.userinfo-details div {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
}

.userinfo-details input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--tertiary-color);
}

.userinfo-details button {
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 12px;
    background-color: #4375ff;
    color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}

.userinfo-details button:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.user-invoices{
    width: fit-content;
    background-color:aquamarine;
    margin-left: 10px;
    border-radius: 0.4rem;


}

.users .users-container .status .status-container .status-block,
.users .users-container-small-screen .status .status-container .status-block{
    width: 80%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 10px;

}




.users .users-container .status .status-container .status-block .invoice-info,
.users .users-container-small-screen .status .status-container .status-block .invoice-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.users .users-container .status .status-container .status-block .invoice-info .invoice-number-text,
.users .users-container-small-screen .status .status-container .status-block .invoice-info .invoice-number-text{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.users .users-container .status .status-container .status-block .invoice-info .invoice-number,
.users .users-container-small-screen .status .status-container .status-block .invoice-info .invoice-number{
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 6px 6px;
    text-align: center;
    border-radius: 0.4rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    user-select: none;
}



.users .users-container .status .status-container .status-block .invoice-status,
.users .users-container-small-screen .status .status-container .status-block .invoice-status{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    text-align: center;

}

.users .users-container .status .status-container .status-block .invoice-status .invoice-status-text,
.users .users-container-small-screen .status .status-container .status-block .invoice-status .invoice-status-text{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

}

.users .users-container .status .status-container .status-block .invoice-status .invoice-status-result,
.users .users-container-small-screen .status .status-container .status-block .invoice-status .invoice-status-result{
    font-size: 1rem;
    font-weight: 600;
    padding: 6px 6px;
    text-align: center;
    border-radius: 0.4rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    user-select: none;
}

.Accepted{
    background-color: greenyellow;
    opacity: 0.8;
}

.pending{
    background-color: rgb(251, 202, 6);
    opacity: 0.8;
}

.Rejected{
    background-color: red;
    opacity: 0.8;
}




.register{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.register .signup{
    display: flex;
    border-radius: 10px;
}
.register .signup-box{
    flex: 1;
    height: 80vh;
    background-color: var(--secondary-color);  
    padding: 80px 80px 150px 100px;

}
.register .signup-box .header{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.register .signup-box .input-labels{
    background-color: white;
    width: 120px; 
    font-weight:600;


}

.register .signup-box .input-boxes {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 8px; 
    width: 300px;
    padding: 6px;
    border-radius: 6px;
    font-weight: 620;
}
.register .signup-box .submit-button {
    padding: 12px;
    width: 150px;
    font-weight: 800;
    border-radius:8px ;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    
}


/*Login page*/

.login {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .login-page {
    display: flex;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.login .login-page .login-box {
    flex: 1;
    height: 80vh;
    background-color: var(--secondary-color);
    padding: 30px 40px;
}

.login .login-page .login-box .header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--tertiary-color);
    
}

.login .login-page .login-box .description {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
}

.login .login-page .login-box .login-field {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.login .login-page .login-element{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login .login-page .login-box .input-labels {
    font-size: 1.2rem;
    font-weight: 600;
}

.login .login-page .login-box .input-boxes {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--tertiary-color);
}

.login .login-page .login-box .submit-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: #4375ff;
    color: var(--secondary-color);
    border: none;
    width: 60%;
    margin-bottom:5px;
}

.login .login-page .login-box .submit-button:hover {
    background-color: var(--primary-color);
}

/* .login .login-page .login-box .google-label {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.login .login-page .login-box .google-button {
    padding: 12px;
    width: 100%;
    max-width: 200px;
    font-weight: 800;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 15px;
} */


/* Media Queries */
@media only screen and (max-width: 768px) {
    .login .login-page {
        flex-direction: column;
    }

    .login .login-page .login-box {
        padding: 60px 30px 100px 30px;
        max-width: 100%;
        height: auto;
    }

    .login .login-page .art-div {
        display: none;
    }
}

/*Users*/
@media (max-width: 768px){
    .home .home-container{
        flex-direction: column-reverse;
        height: 80vh;
        width: 90vw;
    }

    .home .home-container .input{
        height: 20%;
        flex: 4;
    }

    .home .home-container .sidebar{
        height: 70%;
        flex: 1;

    }

    .users .users-container{
        display: none;
    }

    .users .users-container-small-screen{
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 80vh;
        border-radius: 0.4rem;
        overflow: hidden;
        box-shadow: 0 0 1px white;
        background-color: #ffffff;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .users .users-container-small-screen .userinfo{
        height: 80vh;
    }

    .users .users-container-small-screen .status{
        flex: 1;
        background-color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .users .users-container-small-screen .status .status-container .status-block{
        margin: 0 auto;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        border-radius: 0.4rem;
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
        margin-bottom: 10px;
        width: 90%;
    
    }
    
    .users .users-container-small-screen .status .status-container .status-block .invoice-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
    }
    
    .users .users-container-small-screen .status .status-container .status-block .invoice-info .invoice-number-text{
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .users .users-container-small-screen .status .status-container .status-block .invoice-info .invoice-number{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .users .users-container-small-screen .status .status-container .status-block .invoice-status{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
    }

    

}


/* Dept page */

.dept{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dept .Logout button{
        position:absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        border-radius: 0.4rem;
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: none;
        font-size: 1.4rem;
    
}

.dept .container {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px white;
    background-color: var(--secondary-color);
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: solid 5px var(--secondary-color);
    border-top: solid 5px var(--secondary-color);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}
  
  

.dept .container .header{
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--tertiary-color);
    margin-bottom: 20px;
}

.dept .container .list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dept .container .list .emp-entry{
    width: 90%;
    margin: 10px;
    display: flex;
    border: solid 2px var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 6px;
    background-color: var(--tertiary-color);
    overflow: hidden;

}
.dept .container .list .emp-entry .emp-details{
    flex : 0.75;
    background-color:#4375ff;
    padding: 10px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    border-right: solid 3px rgb(2, 88, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.dept .container .list .emp-entry .button-container{
    flex:1;
    background-color:rgb(209, 225, 255);
    padding: 10px;
}

.dept .container .list .emp-entry .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dept .container .list .emp-entry .button-container button{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;

}

.dept .container .list .emp-entry .button-container .acc{
    background-color: rgb(112, 214, 10);
}
.dept .container .list .emp-entry .button-container .rej{
    background-color: rgb(233, 51, 51);
}
.dept .container .list .emp-entry .button-container .view{
    background-color:#6e95ff;
}

.dept .container .list .emp-entry .button-container .acc:hover{
    background-color: rgb(97, 165, 29);
    transition: 0.3s;
}

.dept .container .list .emp-entry .button-container .rej:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

.dept .container .list .emp-entry .button-container .view:hover{
    background-color:#4375ff;
    transition: 0.3s;
}



  
.dept .container .list .emp-entry .button-container{
    float: right;
  width: 50%;
}


.dept .container .overlay{
    font-size: larger;
    font-weight: 600;
    justify-content: center;

}
.dept .container h2{
    font-weight: 600;
    font-size:35px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.dept .overlay button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;

}
.dept .overlay .left{
    padding: 20px;
    height: 90vh;
    background-color: var(--secondary-color);
    border-radius: 20px;
}
.dept .overlay .right{
    padding: 20px;
    background-color: var(--tertiary-color);
    height: 90vh;
    border-radius: 20px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .dept .container .list .emp-entry {
      display: flex;
      flex-direction: column;  /* Stack elements vertically on small screens */
    }
    .dept .container .list .emp-entry .emp-details,
    .dept .container .list .emp-entry .button-container {
      width: 100%;  /* Make elements take full width on small screens */
    }
  }
  