@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

:root{
    --primary-color: #6e95ff;
    --secondary-color: #ffffff;
    --tertiary-color: rgb(213, 226, 239);
}




.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    

}
.home .home-container{
    width: 70vw;
    height: 80vh;
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px white;
}


.home .home-container .input{
    flex:1;
    background-color: var(--secondary-color);
}

.home .home-container .sidebar{
    flex:1;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .home-container .sidebar .sidebar-container{
    background-color: var(--secondary-color);
    border-radius: 0.4rem;
}

.home .home-container .sidebar .sidebar-container label{
    display: block;
    text-align: center;
    font-weight: 400;
    padding: 20px 100px;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: #4375ff;

    box-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.home .home-container .sidebar .sidebar-container label:hover{
    background-color: var(--primary-color);

}

.home .home-container .sidebar .sidebar-container span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.home .home-container .input{
    padding-top: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    scrollbar-width: thin;
    border: 10px solid var(--secondary-color);
    overflow-x: hidden;
    
}

.home .home-container .input .input-container .invoice-top-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--tertiary-color);
    font-size: 2rem;
}

.home .home-container .input .input-container .input-container-contain{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}

.home .home-container .input .input-container label{
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    gap: 5px;
    
}

.home .home-container .input .input-container div{
    font-size: 1.2rem;
    font-weight: 600;
}

.home .home-container .input .input-container input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--tertiary-color);
}


.home .home-container .input .input-container #submit{
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: #4375ff;
    color: var(--secondary-color);
}

.home .home-container .input .input-container #submit:hover{
    background-color: var(--primary-color);

}

.home .icons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 1rem;
    right: 1rem;
    gap: 20px;
}


.home .icons .icons-container .logout .logout-container button{
    padding: 3px 10px;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.4rem;

}



.home .icons .icons-container .profile .profile-container button{
    padding: 3px 10px;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.4rem;

}


.users{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    

}

.users .users-container{
    width: 70vw;
    height: 80vh;
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 1px white;
}

.users .users-container .userinfo{
    flex:1;
    background-color: var(--secondary-color);
}

.users .users-container .status{
    flex:1;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width:none;
}


.users .users-container .userinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.users .users-container .userinfo .userinfo-container .userinfo-avatar i{
    font-size: 8rem;
    color: var(--primary-color);
    display: block;
    text-align: center;
}

.users .users-container .userinfo .userinfo-container .userinfo-name{
    font-size: 2rem;
    font-weight: 600;
}

.users .users-container .status .status-container .status-block{
    width: 85%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 10px;

}

.users .users-container .status .status-container .status-block .invoice-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.users .users-container .status .status-container .status-block .invoice-info .invoice-number-text{
    font-size: 1.2rem;
    font-weight: 600;
}

.users .users-container .status .status-container .status-block .invoice-info .invoice-number{
    font-size: 1rem;
    font-weight: 500;
}

.users .users-container .status .status-container .status-block .invoice-status{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.users .users-container .status .status-container .status-block .invoice-status .invoice-status-text{
    font-size: 1.2rem;
    font-weight: 600;
}

.users .users-container .status .status-container .status-block .invoice-status .invoice-status-result{
    font-size: 1rem;
    font-weight: 500;
}


@media (max-width: 768px){
    .home .home-container{
        flex-direction: column-reverse;
        height: 85vh;
        width: 90vw;
    }

    .home .home-container .input{
        height: 20%;
        flex: 4;
    }

    .home .home-container .sidebar{
        height: 70%;
        flex: 1;

    }

    .users .users-container{
        flex-direction: column;
        height: 85vh;
        width: 90vw;
    }

    .users .users-container .userinfo{
        flex: 1;
        border-bottom: 4px solid var(--primary-color);
    }

    .users .users-container .status{
        flex: 5;
    }

    
.users .users-container .userinfo .userinfo-container .userinfo-avatar i{
    font-size: 3rem;
    color: var(--primary-color);
    display: block;
    text-align: center;
}

.users .users-container .userinfo .userinfo-container .userinfo-name{
    font-size: 1rem;
    font-weight: 600;
}


    

}
